[Unit]
Description=Mount EBS volume to /mnt/data
BindsTo=dev-xvdb.device
Requires=format-data-volume.service
After=format-data-volume.service

[Mount]
What=/dev/xvdb
Where=/mnt/data
DirectoryMode=0777
Type=ext4
