[Unit]
Description=A Ghost blog platform running on docker
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/carter/docker-compose/test.kelsey.life
ExecStartPre=/usr/local/bin/docker-compose down
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
