[Unit]
Description=Call letsencrypt to install certificates

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/environment
ExecStart=/bin/bash /opt/carter/letsencrypt.sh

[Install]
WantedBy=multi-user.target
